# Build
bin/
obj/

# VS
.vs/
*.user
*.suo

# Rider
.idea/

# Logs
*.log

# OS
Thumbs.db
.DS_Store

# Debug/Release folders
Debug/
Release/

# Test results
TestResults/

# Local settings
appsettings.Development.json